<%include ../partials/header_admin%>

  <div class="container">
    <form action="/admin/historyperiod" method="post">
      <div class="row">
        <div class="form-group col-sm-6 col-lg-4">
          <label for="hosname">Hostel Name</label>
          <select class="form-control" id="hosname" name="hosid">
        <% hostels.forEach(function(hostel){%>
          <option value="<%= hostel._id %>"> <%= hostel.hostelname %></option>
        <%});%>        
      </select>
        </div>
        <div class="form-group col-sm-6 col-lg-4">
          <label for="date">From</label>
          <input type="date" class="form-control" id="date" name="startDate" placeholder="Select Start Date" required="true">               </input>
        </div>
        <div class="form-group col-sm-6 col-lg-4">
          <label for="date">To</label>
          <input type="date" class="form-control" id="date" name="endDate" placeholder="Select End Date" required="true">                 </input>
        </div>
        <button class="btn btn-primary" type="submit">
      Submit
    </button>
      </div>
    </form>
  </div>


  <%include ../partials/footer%>