<%include ../partials/header_parent%>

<div class="container" style="margin-top:30px">
  
  <p>
    Current Status:
    <% if(history[history.length-1].activity== true){%>
      PRESENT IN HOSTEL
    <%}else{%>
       NOT PRESENT IN HOSTEL
    <%}%>
  </p>
  
  <table class="table table-bordered table-striped">
     <thead class="thead-dark">
       <tr class="text-center">
         <th>Date</th>
         <th>Time</th>
         <th>Activity</th>
       </tr>
     </thead>
     <tbody>
        <% for(var i=(history.length-1); i>=0; i--) {%>
          <% if(history[i].activity ==true) {%>
            <tr class="table-success text-center">
              <td><%= history[i].datetime.getDate() + '-' + (history[i].datetime.getMonth()+1) +'-'+ history[i].datetime.getFullYear()  %></td>
              <td><%= (history[i].datetime.getHours()+1) + ':' + history[i].datetime.getSeconds() %></td>
              <td>IN</td>
           </tr>
          <% } else {%>
            <tr class="text-center">
              <td><%= history[i].datetime.getDate() + '-' + (history[i].datetime.getMonth()+1) +'-'+ history[i].datetime.getFullYear()  %></td>
              <td><%= (history[i].datetime.getHours()+1) + ':' + history[i].datetime.getSeconds() %></td>
              <td>OUT</td>
           </tr>
          <% } %>
        <% } %>
     </tbody>
   </table>

  </div>
</div>

<%include ../partials/footer%>
