<!DOCTYPE html>
<html lang="en">
<head>
   <title>Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/css/mdb.min.css" rel="stylesheet">
<!-- MDBootstrap Datatables  -->
<link href="/MDB/css/addons/datatables.min.css" rel="stylesheet">
    <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/js/mdb.min.js"></script>
  <!-- MDBootstrap Datatables  -->
<script type="text/javascript" src="/MDB/js/addons/datatables.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="jumbotron text-center" style="margin-bottom:0">
  <h1>NSIT</h1>
  <p>Hostel Management System</p>

</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/admin/home">Student Section</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/admin/student/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/student/history">View History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/student/viewprofile">View Student Profile</a>
      </li>
      <% if(access>1){%>
         <li class="nav-item">
           <a class="nav-link" href="/admin/student/edit">Edit Profile</a>
         </li>
      <%}%>
      <li class="nav-item">
        <a class="nav-link" href="/admin/home">Admin Section</a>
      </li>
      <% if(access>2){%>
        <li class="nav-item">
        <a class="nav-link" href="/admin/student/blockcard">Block Card</a>
        </li>
      <%}%>
      <li class="nav-item">
        <a class="nav-link" href="/admin/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
  <div class="container">
    <% if(success && success.length>0){%>
      <div class="alert alert-success" role="alert">
        <%= success %>
    </div>
    <%}%>
    <% if(error && error.length>0){%>
      <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
    <%}%>
  </div>
