<%include ../partials/header_student %>
  
  <div class="container">
    <form>
      <div class="row">
        <div class="form-group col-auto">
         <label for="username">Username</label>
         <input  readonly type="text" class="form-control form-control-plaintext" id="username" placeholder="<%= student.username %>"> </input>
        </div>
       <div class="form-group col-auto">
         <label for="rollNo">Roll Number</label>
         <input readonly type="text" class="form-control form-control-plaintext" id="rollNo" placeholder=<%= student.rollNo %>></input>
       </div>  
      </div>
     <div class="row">
       <div class="form-group col-auto">
         <label for="cardStatus"> Card Status</label>
         <input readonly type="text" class="form-control form-control-plaintext" id="cardStatus" placeholder="<%= cardStat(card.cardStatus) %>"></input>         
       </div>
       <div class="form-group col-auto">
         <label for="cardNo"> Card Number</label>
         <input readonly type="text" class="form-control form-control-plaintext" id="cardNo" placeholder="<%=card.cid%>"></input>
       </div> 
     </div>     
   </form>
  </div>
<%function cardStat(x){
  var str;
 switch(x){
  case 1: str="Valid";
          return str;
          break;
     
  case 2: str="Lost Card";
          return str;
          break;
     
  case 3: str="Card Blocked: Contact IMS";
          return str;
          break;
     
  case 4: str="Card Not Assigned";
          return str;
          break;
     
  default: str="Unknown Error/Status";
            return str;
            break;
  }
}%>
<%include ../partials/footer%>
  